<section class="main-section">
  <h1>Njuška</h1>

  Aplikacija Njuška predstavlja veb sajt koji će pomoći svim ljubiteljima životinja da udome svog novog
  ljubimca, da pronađu dom napuštenoj životinji ili da prijave nestanak svog ljubimca.
</section>