<section class="main-section">
  <h1>Njuška</h1>

  <p>Aplikacija Njuška predstavlja veb sajt koji će pomoći svim ljubiteljima životinja da udome svog novog
  ljubimca, da pronađu dom napuštenoj životinji ili da prijave nestanak svog ljubimca.</p>
  <p>"Njuška" je neprofitabilna aplikacija napravljena sa ciljem da na jednom mestu objedini sve one u Srbiji koji su uključeni u brigu i zaštitu životinja. Bilo da ste vlasnik neke životinje ili želite da je usvojite, bilo da vam je potrebna pomoć ili želite i sami da pomognete ova stranica vam može pomoći da dodjete do informacija ili uspostavite kontakte.</p>
</section>