// Main Palette
$color-white:    #FFF;
$color-white-dk: #E6E8E6;
$color-black:    #3E3F3E;
$color-gray:     #CFD1CF;
$color-lt-green: #9DB79D;
$color-green:    #425942;
$color-yellow:   #f9c96d;
$color-error:    #E26F70;
$color-info:     #17a2b8;
$color-danger:   #dc3545;